body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Roboto Slab";
  src: local("Reboto Slab"),
   url("../assets/RobotoSlab-VariableFont_wght.ttf") format("truetype");
  font-weight: regular;
 }

@font-face {
  font-family: "Ubuntu Mono";
  src: local("Ubuntu Mono"),
   url("../assets/UbuntuMono-Regular.ttf") format("truetype");
  /* font-weight: regular; */
 }

 
